<?php include template('common/head') ?>
<script src="https://cdn.bootcdn.net/ajax/libs/dplayer/1.26.0/DPlayer.min.js"></script>
<div class="mdui-container">
    <div id="player"></div>
    <a href="<?=$item['downloadUrl']?>" class="mdui-btn mdui-btn-block mdui-ripple mdui-m-t-2 mdui-color-indigo"><i class="mdui-icon material-icons" style="font-size: 1.3em;">get_app</i>下载</a>
</div>
<script>
    const dp = new DPlayer({
    container: document.getElementById('player'),
    video: {
        url: "<?=$item['downloadUrl']?>",
    },
});
</script>
<?php include template('common/foot') ?>