<?php include template('common/head') ?>
<div class="mdui-container">
	<?php 
		if($root != true){
	?>
	<div class="mdui-list">
		<a href="javascript:history.go(-1);" class="mdui-list-item mdui-ripple"><i class="mdui-icon material-icons">keyboard_backspace</i></a>
	</div>
	<?php
		}
	?>
	<div class="mdui-row mdui-m-t-2 mdui-p-l-2">

		<div class="mdui-col-xs-7">
			Name
		</div>
		<div class="mdui-col-xs-5 mdui-text-right mdui-p-r-3">
			Size
		</div>

	</div>
	<div class="mdui-list">
		<?php
			foreach($dirlist as $dir){
		?>
		<a href="<?=$_CFG['url']?>/<?=$dir['_id']?>" class="mdui-list-item mdui-ripple" style="width: 100%;display: block;line-height: 48px;">
			<div class="mdui-row">
				<div class="mdui-col-xs-7 mdui-text-truncate">
					<i class="mdui-icon material-icons mdui-m-r-1">folder</i> <?=$dir['title']?>
				</div>
			</div>
		</a>
		<?php
			}
		?>
		<?php
			foreach($filelist as $file){
		?>
		<a target="__blank" href="<?=$_CFG['url']?>/download/<?=$file['_id']?>" class="mdui-list-item mdui-ripple" style="width: 100%;display: block;line-height: 48px;">
			<div class="mdui-row">
				<div class="mdui-col-xs-7 mdui-text-truncate">
					<i class="mdui-icon material-icons mdui-m-r-1">insert_drive_file</i> <?=$file['fileName']?>
				</div>
				<div class="mdui-col-xs-5 mdui-text-right">
					<?=getSize($file['fileSize'])?>
				</div>
			</div>
		</a>
		<?php
			}
		?>
	</div>
	<div class="mdui-divider"></div>
	<div class="mdui-typo-body-1 mdui-text-center mdui-m-t-2">Template by MDUI | Powered by <a style="text-decoration: none;" href="https://github.com/FlxSNX/TeambitionShare">FlxSNX</a></div>
</div>
<?php include template('common/foot') ?>